# macOS
*.dylib filter=lfs diff=lfs merge=lfs -text

# Android / Linux
*.so filter=lfs diff=lfs merge=lfs -text

# iOS frameworks
**/TensorFlowLiteC.framework/TensorFlowLiteC filter=lfs diff=lfs merge=lfs -text
**/TensorFlowLiteCMetal.framework/TensorFlowLiteCMetal filter=lfs diff=lfs merge=lfs -text
**/TensorFlowLiteCCoreML.framework/TensorFlowLiteCCoreML filter=lfs diff=lfs merge=lfs -text

# Big TFLite models
*.tflite filter=lfs diff=lfs merge=lfs -text
